<div>
	<h1>Déroulement de la partie</h1>
	<div ng-include src="'app-client-fred/partials/joueur-id.html'"
		ng-show="visuMode == 'joueur-id'"></div>
	<div ng-include src="'app-client-fred/partials/crea-partie.html'"
		ng-show="visuMode == 'crea-partie'"></div>
	<div ng-include src="'app-client-fred/partials/declenche-partie.html'"
		ng-show="visuMode == 'declenche-partie'"></div>
	<div ng-include src="'app-client-fred/partials/inscription-partie.html'"
		ng-show="visuMode == 'inscription-partie'"></div>
	<div ng-include src="'app-client-fred/partials/salon-attente.html'"
		ng-show="visuMode == 'salon-attente'"></div>
	<div ng-include src="'app-client-fred/partials/partie-en-cours.html'"
		ng-show="visuMode == 'partie-en-cours'"></div>
</div>